@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');
.contact-heading{
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    color: white;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.contact-heading1{
    text-align: center;
        font-size: 15px;
        font-weight: bold;
        color: white;
        margin-top: 10rem;
        margin-bottom: 2rem;
}
.contact{
    font-family: 'Poppins', sans-serif;
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3rem;
}
.form{
    width: 100%;
    display: block;
    margin: auto;
}
.sentence{
    font-size: 15px;
    font-weight:400;
}
.c-box{
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    margin: auto;
}
.box{
    margin: auto;
    display: block;
    width: 200px;
    height:130px;
    text-align:center;
    border-radius: 1rem;
    background-color: white;
    border:2px solid black;
    color: black;
}
.icon{
    margin:0.8rem auto;
}
.h-c{
    margin-bottom: 0.8rem;
    font-weight:bold;
}
.label input{
    color: black;
    border:2px solid black;
    padding-top: 1rem;
    padding-left: 0.2rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    width: 100%;
    margin: 1rem auto;
}
.label1 textarea{
    border:2px solid black;
    border-radius: 10px;
    color: black;
}
.label-button{
    color: white;
    max-width: 20%;
    margin:0.5rem auto;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    padding: 0.5rem;
}
@media screen and (max-width: 800px) {
    .contact-heading{
        font-size: 30px;
    }
    .contact{
        width: 79%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 6rem;
    }
    .label input{
        width: 100%;
    }
    .label-button{
        max-width: 30%;
    }
}
@media screen and (max-width: 450px) {
    .label input{
        width: 50%;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        margin-left: 24%;
    }
    .label1 textarea{
        margin-left: 12%;
    }
    .label-button{
        max-width: 30%;
    }
}