@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
.intro{
    width: 80%;
    margin: 15rem auto;
    text-align: center;
    color: white;
}
.intro-head{
    margin: 4rem auto;
    font-size: 15px;
    font-weight: bolder;
}
.intro-head1{
    margin: 4rem auto;
    font-size: 35px;
    font-weight: bolder;
}
.intro-para{
    font-size: 25px;
    font-weight: bolder;
    width: 70%;
    margin: 3rem auto;
    text-align:justify;
}
.intro-para > img{
    width: 5%;
}
@media screen and (max-width:700px){
    .intro-para > img{
        width: 15%;
    }
}
@media screen and (max-width:500px){
    .intro-para > img{
        width: 14%;
    }
    .intro-para{
        font-size: 18px;
        font-weight: bolder;
        width: 70%;
        margin: 3rem auto;
        text-align:justify;
    }
}